@charset "utf-8";

body {
	padding: 60px 0px 100px 0px;
}

#catalog-order {
	
}

	#catalog-order th.pizza-size {
		width: 12%;
	}

	#catalog-order .btn {
		margin: 55px 0px 0px 10px;
	}

	#catalog-order label {
		margin-bottom: 0px;
	}

	#catalog-order label.disabled {
		color: #999;
	}

#order {
	position: fixed;
	right: 60px;
	/*height: 100%;*/
}

#order-content {
	height: 530px;
	overflow: auto;
}

	#order-content h3 {
		margin-bottom: 6px;
	}

	#order-content input[type="text"] {
		width: 100%;
		box-sizing: border-box;
		height: 28px;
		line-height: 28px;
	}

#order-pizzas .item {
	background: rgba(0,0,0,0.08);
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 10px 14px;
	margin: 6px 0px;
	box-shadow: 1px 1px 0px white;
}

	#order-pizzas .item ul {
		list-style: none;
		padding: 0px;
		margin: 0px;
	}

#total-geral {
	margin: 15px 0px;
	font-weight: bold;
	border-bottom: 1px solid #ccc;
	padding-bottom: 15px;
}

div.block {
	background-color: #ddd;
	/*border: 1px solid #999;*/
	/*border-radius: 4px;*/
	/*margin-top: 20px;*/
	/*padding: 15px;*/
	box-sizing: border-box;
}

#success > .row {
	margin-top: 30px;
}

#success .total {
	position: relative;
	top: -2px;
}

#success ul {
	margin: 0px;
	list-style: none;
}

	#success li.divider {
		border-top: 1px solid #ccc;
		border-bottom: 1px solid #eee;
		margin: 10px 0px;
	}

	#success ul li {
		line-height: 20px;
		color: #888;
	}

		#success ul li strong {
			color: #333;
		}