@charset "utf-8";

* {
	padding: 0px;
	margin: 0px;
}

html {
	height: 100%;
}

body {
	height: 100%;
}

h1 {
	padding-bottom: 15px;
}

h6 {
	padding-bottom: 6px;
}

div#login {
	width: 350px;
	height: auto !important;
	height: 200px;
	min-height: 200px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -170px;
	margin-left: -165px;
}

	div#login form {
		padding-top: 40px;
	}

	div#login label {
		width: 60px;
	}
	
	.form-horizontal .controls {
		margin-left: 70px;
	}

div.spinner {
	display: none;
	width: 28px;
	height: 28px;
	float: left;
	background: url(../img/spinner.gif) no-repeat center;
}